# Python cache files
__pycache__/
*.pyc

# Virtual environment (venv)
venv/

# IDE configuration folders (e.g., VSCode)
.vscode

# ppt
Assessment02_Transition_of_Life_Expectancy_Before_and_After_COVID-19.pptx